/*

Paleta de cores:
#ecc30b - Amarelo
#010b13 - Preto
#f5f5f5 - Branco
#0582ca - Azul

*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#loading {
  align-items: center;
  background-color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

#header {
  /* background-color: #f5f5f5; */
  height: 90px;
  position: fixed;
  top: 0;
  width: 1000vh;
  z-index: 2;
}

#section-home {
  background-image: url('./img/background-code.jpg');
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.center-home {
  align-items: center;
  color: #ecc30b;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.center-home > hr {
  width: 60%;
}

.my-name {
  font-family:  kanit, arial, sans-serif;
  font-size: 3.6rem;
  font-weight: 100;
}

.my-role {
  font-family:  kanit, arial, sans-serif;
  font-size: 1.7rem;
  font-weight: 100;
}

#section-about {
  padding-top: 100px;
  padding-bottom: 100px;
}

#section-profile, #section-aboutText {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#picture-about {
  border-radius: 100%;
}